# Dependencies
/node_modules
/.pnp
.pnp.js
.pnp.cjs

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
*.log

# Environment
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
